<!DOCTYPE html>
<html>
<head>
  <title>New York Society Library - Random Books</title>
<!--  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> -->
<link data-turbolinks-track="true" href="http://nysoclib.org/sites/default/files/unlovedbooks.css" media="all" rel="stylesheet" />
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
