<!DOCTYPE html>
<html>
<head>
  <title>New York Society Library - Unloved Books</title>
<!--  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> -->
<link data-turbolinks-track="true" href="http://nysoclib.org/sites/default/files/unlovedbooks_styles.css" media="all" rel="stylesheet" />
<link data-turbolinks-track="true" href="http://nysoclib.org/sites/default/files/unlovedbooks.css" media="all" rel="stylesheet" />
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<CENTER>
<TABLE WIDTH="1024">
<TR valign=bottom><TD><IMG SRC="http://mail.nysoclib.org/collection.png" BORDER=0><A HREF="http://www.nysoclib.org"><IMG SRC="http://mail.nysoclib.org/logo.png" BORDER=0></A></TD><TD><h1>Show Our Stacks Some Love</h1><h2>Below is a random selection of fiction titles from our stacks</h2></TD></TR>
  <TR valign=top><TD WIDTH=200><IMG SRC="http://mail.nysoclib.org/spacer.png">
          <p><span class="more-button"><a href="javascript:window.location.href=window.location.href">Give me 6 more!</a></span></p>
    <p>&nbsp;
    </p>
    
    <p>
In search of something to read? Why not show a lonely book some love? Click the button to generate a random selection of books from our fiction stacks. They may not be this year’s bestsellers, but back in the day they might have been the cat’s meow! Click the link to see each book’s entry in the Library’s catalog, and head up to the stacks to pick it up and take it home. Don’t see anything you like on your first try? Click the button or refresh the page to try your luck a second time.
</p>
    
    </TD><TD>

<%= yield %>
    </TD>
    </TR>
    <TR>
    <TD>

      </TD>
      <TD>
        <P>&nbsp;<P>

      </TD>
          </TR>
  </TABLE>
</CENTER>

</body>
</html>
